.add {
  display: flex;
  justify-content: center;

  .container {
    width: 90%;
    max-width: 1400px;
    padding: 50px 0px;

    h1 {
      width: max-content;
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }

    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      flex-wrap: wrap;
      label {
        color: gray;
        font-size: 18px;
      }

      .info,
      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        // width: 50%;
        input,
        select,
        textarea {
          padding: 20px;
        }

        .images{
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: space-between;
          .imagesInputs{
            display: flex;
            flex-direction: column;
            gap: 20px;
            row-gap: .2em;
            .selected-img{
              margin: .5em 0;
              width: 4em;
              height: 4em;
              display: flex;
              column-gap: 1em;
              flex-wrap: wrap;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .selected-imgs{
              margin: .6em 0;
              width: 100%;
              height: 7em;
              display: flex;
              column-gap: .5em;
              flex-wrap: wrap;
              img{
                width: 20%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          button {
            border: none;
            padding: 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #1dbf73;
            cursor: pointer;
            width: 100%;
          }
        }
        .add{
          display: flex;
          justify-content: space-between;
          column-gap: 1em;
          button{
            border: none;
            padding: 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #1dbf73;
            cursor: pointer;
          }
          input{
            width: 80%;
          }
        }

        .addedFeatures{
          display: flex;
          gap: 20px;
          border-radius: 8px;
          .item{
            box-shadow: 4px 4px lightpink;
            border-radius: 8px;
            button{
              border-radius: 8px;
            }
          }
          button{
            height: 30px;
            font-size: 14px;
            font-weight: 400;
            padding: .8em;
            background: transparent;
            color: #FF7AAC;
            border: 1px solid #FF7AAC; //#197FD2;
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }
    .error{
      margin: .2em 0;
      color: red;
    }
    .button{
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #1dbf73;
      cursor: pointer;
      width: 100%;
      margin: 2em 0 0 0;
  }
  }
}
@media (width<768px) {
  .info,
  .details{
    width: 50%;
    .images{
      flex-wrap: wrap;
      width: 100%;
      .imagesInputs{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }
      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #1dbf73;
        cursor: pointer;
      }
    }
  }
}
